html, body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

#example-title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: gray;
    padding: 0.5em;
    display: none;
}

#mapbox {
    position: absolute;
}

#gl-canvas {
    position: absolute;
    pointer-events: none;
}

#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color: gray;
    padding: 0.5em;
    z-index: 999;
}

#github-ribbon {
    display: none;
}
